{% extends 'base.html.twig' %}

{% block title %}DOCOVID - Liste de vos offres{% endblock %}

{% block body %}
<body>
	
	<div id="preloader" class="Fixed">
		<div data-loader="circle-side"></div>
	</div>
	<!-- /Preload-->
	
	<div id="page">	
	
	{% block header %}
	{{ parent() }}
	 {% endblock %}
	<!-- /header -->
	
	<main class="theia-exception">
		<div id="results">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h4><strong>Chercher</strong> Le matériel que vous pouvez offrir</h4>
					</div>
					<div class="col-md-6">
						<div class="search_bar_list">
							<input type="text" class="form-control" id="search" placeholder="Ex. Masque, Bavette...">
							
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /results -->

		<div class="filters_listing">
			<div class="container">
				<ul class="clearfix">
					<li>
						<h6>Total </h6>
						<div class="switch-field">
							<input type="radio" id="all" name="type_patient" value="all" checked>
							<label for="all">Total : {{ offres.getTotalItemCount }} offres</label>
							<!--input type="radio" id="doctors" name="type_patient" value="doctors">
							<label for="doctors">Masques</label>
							<input type="radio" id="clinics" name="type_patient" value="clinics">
							<label for="clinics">Clinics</label-->
						</div>
					</li>
					<!--li>
						<h6>Layout</h6>
						<div class="layout_view">
							<a href="grid-list.html"><i class="icon-th"></i></a>
							<a href="#0" class="active"><i class="icon-th-list"></i></a>
							<a href="list-map.html"><i class="icon-map-1"></i></a>
						</div>
					</li>
					<li>
						<h6>Sort by</h6>
						<select name="orderby" class="selectbox">
						<option value="Closest">Closest</option>
						<option value="Best rated">Best rated</option>
						<option value="Men">Men</option>
						<option value="Women">Women</option>
						</select>
					</li-->
				</ul>
			</div>
			<!-- /container -->
		</div>
		<!-- /filters -->
		
		<div class="container margin_60_35" id="entitiesNav">
			<div class="row">
				<div class="col-lg-12">
        {% for offre in offres %}

					<div class="strip_list wow fadeIn">
						
						<small>{{user.username}}</small>
						<h3>{{ offre.materiel }}</h3>
						<span >Quantité : {{ offre.quantite }} </span>
						<p>{{ offre.message }}</p>

                        <small>{{ offre.dateOffre ? offre.dateOffre|date('Y-m-d') : '' }} {{ offre.timeOffre ? offre.timeOffre|date('H:i:s') : ''  }}</small>

						<ul>
							<li>Où vous souhaitez recevoir le matériel ? </li>
							<li><a href="{{ path('livraison', {'id': offre.livraison.id}) }}">Où ?</a></li>
                            <!--li><a href="{{ path('offre_edit', {'id': offre.id}) }}">Modifier</a></li-->
						</ul>
					</div>
        {% endfor %}
					
					<div class="navigation">
							{{ knp_pagination_render(offres) }}
        			</div>
					
					<!-- /pagination -->
				</div>
				<!-- /col -->
				
				<!-- /aside -->
				
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->
	
	{% block footer %}
	{{ parent() }}
	 {% endblock %}
	<!--/footer-->
	</div>
	<!-- page -->

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- COMMON SCRIPTS -->
	{% block javascripts %}
	   {{ parent() }}
	 {% endblock %}
	 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	 <script type="text/javascript">
            $(document).ready(function() {
                let searchRequest = null;
                $("#search").keyup(function() {
                    let minlength = 1;
                    let that = this;
                    let value = $(this).val();
                    let entitySelector = $("#entitiesNav").html('');
                    if (value.length >= minlength ) {
                        if (searchRequest != null)
                            searchRequest.abort();
                        searchRequest = $.ajax({
                            type: "GET",
                            url: "{{ path('searchOffre') }}",
                            data: {
                                'q' : value
                            },
                            dataType: "text",
                            success: function(msg){
                                //we need to check if the value is the same
                                if (value===$(that).val()) {
                                    let result = JSON.parse(msg);
                                    $.each(result, function(key, arr) {
                                        $.each(arr, function(id, value) {
                                            if (key === 'offres') {
                                                if (id !== 'error') {
                                                    console.log(value[0]);

                                                    entitySelector.append(
														
'<div class="row" >'+
				'<div class="col-lg-12">'+
  

					'<div class="strip_list wow fadeIn">'+
						
						
						'<small>' + value[5] +' '+value[6]+ '</small>'+
						'<h3>'+value[0]+'</h3>'+
						'<span >Quantité : '+value[1]+' </span>'+
						'<p>'+value[4]+'</p>'+
						'<small>'+value[2]['date']+'</small>'+
						'<ul>'+
							'<li>Retour à la liste </li>'+
							'<li><a href="{{ path( 'offre_user') }}">Retour </a></li>'+
						'</ul>'+

					'</div>'+
					'</div>'+
					'</div>'+
					'</div>'


            );
						} else {
							entitySelector.append(
								'<li class="errorLi">Aucune offre avec ce matériel pour le moment</li>');
						}
                                            }
                                        });
                                    });
                                }
                            }
                        });
                    }
                });
            });
        </script>


</body>
    
{% endblock %}
